* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

#dashboardHeader {
  background-color: #3d3d3d;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}

#dashboardBody {
  display: flex;
  justify-content: center;
}

#sidebar {
  min-width: 250px;
  width: 300px;
  padding: 10px;
  background-color: #bbbbbb;
}

#sidebarSearch {
  margin-bottom: 15px;
}

#contents {
  width: 1000px;
  padding: 50px;
  background-color: #cccccc;
}

.fa-search {
  border: white 1px solid;
  padding: 4px;
  border-radius: 3px;
  color: #ffffff;
  background-color: lightblue;
}

.sidebarHistoryCities:hover {
  color: #ffffff;
  background-color: #4f99e3;
}

#weatherInformation {
  font-weight: bold;
}

#contentsGoogleMaps {
  margin-top: 20px;
  height: 300px;
  width: 100%;
  min-width: 400px;
}

#contentsForecast {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.card {
  margin: 0px 1em;
  min-width: 150px;
  background-color: #4f99e3;
}

.card-body {
  padding: 0px;
  padding-top: 6px;
  text-align: center;
}

.card-title {
  font-size: 15px;
  font-weight: bolder;
}

.list-group-item {
  text-align: center;
}
